body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #770c47; 
}

.container {
    text-align: center;
    background-color: #e63369;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #B03060; 
}

h1 {
    color: #dad1d1; 
}

p {
    color: #dad1d1;
    font-size: 1.1em;
}

button {
    background-color: #832764; 
    color: #dad1d1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #DA70D6; 
    color: #4B0082; 
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    background-color: #FFD1DC; 
    color: #800080; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o campo de entrada */
input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #B03060; /* Rosa escuro */
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #8A2BE2;
    box-shadow: inset 0 2px 4px rgba(138, 43, 226, 0.3);
}

button.remover {
    background-color: #542c70;
    color:  #dad1d1;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6em;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

button.remover:hover {
    background-color: #6b046b;
}

button.editar {
    background-color: #680963;
    color: #dad1d1;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6em;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

button.editar:hover {
    background-color: #8a167a; 
}

.botao_lista {
    background-color: #9e1840; 
}

.botao_lista:hover {
    background-color: #ec074c; 
    color: #FFFFFF;
}
